*::before
::after{
    box-sizing: border-box;
}

* {
    /* border: 1px solid red; */
    font-family: Roboto, impact;
}

body {
        margin: 0;
}

.flex-container-around {
    display: flex;
    justify-content:space-around;
    
}

.header {
    background-color: #1F2937;
    padding: 15px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px;
}