*::before
::after{
    box-sizing: border-box;
}

* {
    /* border: 1px solid red; */
    font-family: Roboto, impact;
}

body {
    margin: 0px;
}

.header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 15px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px;
}

.hero {
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 50px 150px;
}

.hero-left {
    max-width: 500px;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.information {
    background-color: greenyellow;
}

.information-title {
    font-size: 36px;
    text-align: center;
    color: #1F2937;
    font-weight: 900;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border: 0px;
    padding: 4px 25px;
}
